<nav>
    <ul>
        <li><a href="/">Home</a></li>
		<li>
			<% if (user) { %>
				Hello, <%= user.get('username') %>! | <a id="user-logout" href="/exit">Logout</a>
			<% } else { %>
				<a href="/login">Login / Sign Up</a>
			<% } %>
		</li>
    </ul>
</nav>